@using OnlineCommerce_WEB.Models
@using OnlineCommerce_WEB.Models.EntityFramework
@model OnlineCommerce_WEB.Models.EntityFramework.Customers

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="profile-area">
    @if (CurrentLoginEntity.IsLogin)
    {
        try
        {
            <h2>Hoşgeldin @CurrentLoginEntity.Name</h2>
        }
        catch
        {
            <h2> Hoşgeldin @CurrentLoginEntity.Username</h2>
        }
        using (Html.BeginForm("Edit", "Customer", new { accountID = CurrentLoginEntity.ID }, FormMethod.Post, new { @class = "login-form-hidden", role = "form" }))
        {
            OnlineCommerceEntities db = new OnlineCommerceEntities();

            try
            {
                var entity = (from e in db.Customers where e.AccountID == CurrentLoginEntity.ID select e).FirstOrDefault();
                <div class="card text-white bg-dark contact-form">
                    <div class="card-header"><h2 style="text-align:center">Bilgilerin</h2></div>
                    <div class="card-body">

                        <div class="information-area">

                            <ul>
                                <li>
                                    <div class="information-content flex">
                                        <label>Name</label>
                                        <input class="form-control bg-dark txt-white" id="Name" name="Name" type="text" value="@entity.Name" />
                                    </div>
                                </li>
                                <li>
                                    <div class="information-content flex">
                                        <label>Surname</label>
                                        <input class="form-control bg-dark txt-white" id="Surname" name="Surname" type="text" value="@entity.Surname" />
                                    </div>
                                </li>
                                <li>
                                    <div class="information-content flex">
                                        <label>Phone</label>
                                        <input class="form-control bg-dark txt-white" id="Phone" name="Phone" type="text" value="@entity.Phone" />
                                    </div>
                                </li>
                                <li>
                                    <div class="information-content flex">
                                        <label>Mail</label>
                                        <input class="form-control bg-dark txt-white" id="Mail" name="Mail" type="text" value="@entity.Mail" />
                                    </div>
                                </li>
                                <li>
                                    <div class="information-content flex">
                                        <label>Address</label>
                                        <input class="form-control bg-dark txt-white" id="Address" name="Address" type="text" value="@entity.Address" />

                                    </div>
                                </li>

                            </ul>

                        </div>

                        <form method="post" action="@Url.Action("Edit/"+CurrentLoginEntity.ID)">
                            <button class="btn">Update</button>
                        </form>

                    </div>
                </div>

            }
            catch
            {


                var entity = (from e in db.Customers where e.AccountID == CurrentLoginEntity.ID select e).FirstOrDefault();
                <div class="card text-white bg-dark contact-form">
                    <div class="card-header"><h2 style="text-align:center">Bilgilerin</h2></div>
                    <div class="card-body">

                        <div class="information-area">

                            <ul>
                                <li>
                                    <div class="information-content flex">
                                        <label>Name</label>
                                        <input id="Name" name="Name" type="text" value="@entity.Name" />
                                    </div>
                                </li>
                                <li>
                                    <div class="information-content flex">
                                        <label>Surname</label>
                                        <input id="Surname" name="Surname" type="text" value="@entity.Surname" />
                                    </div>
                                </li>
                                <li>
                                    <div class="information-content flex">
                                        <label>Phone</label>
                                        <input id="Phone" name="Phone" type="text" value="@entity.Phone" />
                                    </div>
                                </li>
                                <li>
                                    <div class="information-content flex">
                                        <label>Mail</label>
                                        <input id="Mail" name="Mail" type="text" value="@entity.Mail" />
                                    </div>
                                </li>
                                <li>
                                    <div class="information-content flex">
                                        <label>Address</label>
                                        <input id="Address" name="Address" type="text" value="@entity.Address" />

                                    </div>
                                </li>

                            </ul>

                        </div>

                        <form method="post" action="@Url.Action("Edit/"+CurrentLoginEntity.ID)">
                            <button class="btn">Update</button>
                        </form>

                    </div>
                </div>
            }

        }
    }
    else
    {
        <h2>Önce Giriş Yapmalısın!</h2>
    }

</div>