@using OnlineCommerce_WEB.Models
@using OnlineCommerce_WEB.Models.EntityFramework;
@model OnlineCommerce_WEB.Models.EntityFramework.Customers

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="profile-area">

    @if (CurrentLoginEntity.IsLogin)
    {
        try
        {
            <h2>Hoşgeldin @CurrentLoginEntity.Name</h2>
        }
        catch
        {
            <h2> Hoşgeldin @CurrentLoginEntity.Username</h2>
        }

        OnlineCommerceEntities db = new OnlineCommerceEntities();
        var customer = (from c in db.Customers where c.AccountID == CurrentLoginEntity.ID select c).FirstOrDefault();

        if (customer != null)
        {
            <div class="card text-white bg-dark contact-form">
                <div class="card-header"><h2 style="text-align:center">Bilgilerin</h2></div>
                <div class="card-body">

                    <div class="information-area">
          
                        <ul>
                            <li>
                                <div class="information-content flex">
                                    <label>Name</label>
                                    <p>@customer.Name</p>
                                </div>
                            </li>
                            <li>
                                <div class="information-content flex">
                                    <label>Surname</label>
                                    <p>@customer.Surname</p>
                                </div>
                            </li>
                            <li>
                                <div class="information-content flex">
                                    <label>Phone</label>
                                    <p>@customer.Phone</p>
                                </div>
                            </li>
                            <li>
                                <div class="information-content flex">
                                    <label>Mail</label>
                                    <p>@customer.Mail</p>
                                </div>
                            </li>
                            <li>
                                <div class="information-content flex">
                                    <label>Address</label>
                                    <p>@customer.Address</p>
                                </div>
                            </li>

                        </ul>

                    </div>
                    <form method="get" action="@Url.Action("Edit/"+CurrentLoginEntity.ID)">
                        <button class="btn">Update</button>
                    </form>
                </div>
            </div>

        }
        else
        {
            <h2>Önce Bilgilerini Güncellemelisin</h2>

            <form method="get" action="@Url.Action("Edit/"+CurrentLoginEntity.ID)">
                <button class="btn btn-info">Update</button>
            </form>


        }
    }
    else
    {
        <h2>Önce Giriş Yapmalısın!</h2>
    }


</div>