@using OnlineCommerce_WEB.Models
@model LoginEntity
@{
    ViewBag.Title = "Login";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Online Commerce", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Products", "Index", "Products")</li>
                    @*<li>@Html.ActionLink("Accounts", "Index", "Accounts")</li>*@
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @if (CurrentLoginEntity.IsLogin)
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li> @Html.ActionLink("Hello \t" + CurrentLoginEntity.Username, "Index", "Customer") </li> @*// Müşteri Sayfasına Yönlendirilecek*@
                            <li> @Html.ActionLink("Log Out", "Logout", "Login") </li> @* Log out yapacak*@
                        </ul>
                    }
                    @if (CurrentLoginEntity.IsLogin == false)
                    {
                        @Html.Partial("_LoginPartial")
                    }
                
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="login-content">
            <h2>E-Commerce ACDHE</h2>
            <hr />
            @* Login Sayfası Başlangıcı *@
            @using (Html.BeginForm("Index", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form", role = "form" }))
            {
                <div class="form-input">
                    @Html.LabelFor(m => m.Username)
                    <div>
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                    </div>
                </div>


                <div class="form-input">
                    @Html.LabelFor(m => m.Password)
                    <div>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-button">
                    <p>
                        @Html.ActionLink("Register as a new user", "Create", "Accounts")
                    </p>
                    <div>
                        <input type="submit" value="Log in" class="btn btn-warning" />
                    </div>
                </div>

            }
        </div>
        @* Login Sayfası Sonu *@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>

