@model OnlineCommerce_WEB.Models.EntityFramework.Products

@{
    ViewBag.Title = "Details";
}

    <h2 class="product-details-h">Details</h2>
    <h4 class="product-details-h">Products</h4>
    <hr />


    <div class="product-details-card-div">
        
            <img class="product-image" src="~/Content/Images/iphone.jpg">
        
        @using (Html.BeginForm("AddToCart", "Orders", new { ReturnUrl = ViewBag.ReturnUrl, productID = Model.ID }, FormMethod.Post, new { @class = "product-details-card-form", role = "form" }))
        {
            <table class="table">
                <tbody>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Name) :</td>
                        <td>@Html.DisplayFor(model => model.Name)</td>

                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Cost) :</td>
                        <td>@Html.DisplayFor(model => model.Cost)</td>

                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Price) :</td>
                        <td>@Html.DisplayFor(model => model.Price)</td>

                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Stock) :</td>
                        <td>@Html.DisplayFor(model => model.Stock)</td>

                    </tr>
                    <tr>
                        <td> @*@Html.DisplayNameFor(model => model.Categories.Name)*@ Category:</td>
                        <td>@Html.DisplayFor(model => model.Categories.Name)</td>

                    </tr>
                    <tr>
                        <td> @*@Html.DisplayNameFor(model => model.Companies.Name)*@Company:</td>
                        <td>@Html.DisplayFor(model => model.Companies.Name)</td>

                    </tr>
                    <tr>
                        <td>Amount:</td>
                        <td> @Html.TextBoxFor(model => model.Amount, new { @class = "form-control" , @type = "number", @min = 1, @max = Model.Stock})</td>

                    </tr>


            </table>
            <p>
                @* @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |*@
                @* @Html.ActionLink("Back to List", "Index")*@
            </p>
            <input type="submit" value="Add to Cart" class="btn" style="background-color:darkorange;" />

        }
    </div>

